textarea{
    width: 100%;
}

img{
    max-width: 100%;
}

table img{
    max-width: 100px;
}
.show-produto .btn{
    margin-left: 10px;
}

section#content{
    margin-top: 30px;
}

section#content .produto{
    margin-bottom: 30px;
}

section#content .produto p{
    text-align: justify;
    margin-top: 20px;
}

section#content .produto .border{
    border: 1px solid #ccc;
    border-radius: 8px 0px 8px 0px;
    padding: 15px;
}

section#content .produto img{
    width: 100%;
}